<!DOCTYPE html>
<html lang="{{ default_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ site_desc }}{% end %}">
    <title>{% block title %}{{ site_title }}{% end %}</title>
    <link rel="stylesheet" href="/app.css">
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:title" content="{% block title %}{{ site_title }}{% end %}">
    <meta property="og:description" content="{% block description %}{{ site_desc }}{% end %}">
    {% block head %}{% end %}
</head>
<body class="{% block page_class %}{% end %}">
    {% block top %}{% end %}
    <div id="app">
        {% block header %}
        <header class="header">
            <img class="logo" src="/logo.png" title="{{ site_title }}">
            <a class="ball" href="{{ base_url }}">{{ site_title }}</a>
            <small>{{ site_desc }}</small>
        </header>
        {% end %}
        <main class="content">{% block main %}{% end %}</main>
        {% block footer %}
        <footer class="footer">
            <p>© {{ datetime.datetime.now().year }} <a href="{{ base_url }}">{{ site_title }}</a></p>
            <p>{% raw _('Powered By %(treehole_link)s with %(github_issues_link)s, Drived by %(github_pages_link)s') % {
                    'treehole_link': '<a href="https://github.com/mywaiting/treehole">TreeHole</a>',
                    'github_issues_link': '<a href="https://docs.github.com/issues">Github Issues</a>',
                    'github_pages_link': '<a href="https://pages.github.com">Github Pages</a>',
                }
            %}</p>
            <p>&gt; <a href="/feedmap.xml">{{ _('Feedmap') }}</a>
                &gt; <a href="/sitemap.xml">{{ _('Sitemap') }}</a>
            </p>
        </footer>
        {% end %}
    </div>
    <script type="text/javascript" src="/app.js"></script>
    {% block bottom %}{% end %}
</body>
</html>