<!DOCTYPE html>
<html lang="{{ default_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ site_desc }}{% end %}">
    <title>{% block title %}{{ site_title }}{% end %}</title>
    <link rel="stylesheet" href="/app.css">
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:title" content="{% block title %}{{ site_title }}{% end %}">
    <meta property="og:description" content="{% block description %}{{ site_desc }}{% end %}">
    {% block head %}{% end %}
</head>
<body class="{% block page_class %}{% end %}">
    {% block top %}{% end %}
    <div id="app">
        {% block header %}
        <header class="header">
            <div class="container">
                <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
                <p>{{ site_desc }}</p>
            </div>
        </header>
        {% end %}
        <div class="content">
            <div class="container">
                <main class="main">{% block main %}{% end %}</main>
                <aside class="side">{% block side %}{% end %}</aside>
            </div>
        </div>
        {% block footer %}
        <footer class="footer">
            <div class="container">
                <p>© 2025 {{ site_title }}</p>
                <p>Powered By <a href="https://github.com/mywaiting/treehole">TreeHole</a> with <a href="https://docs.github.com/issues">Github Issues</a>,
                    Drived by <a href="https://pages.github.com">Github Pages</a>
                </p>
            </div>
        </footer>
        {% end %}
    </div>
    <script type="text/javascript" src="/app.js"></script>
    {% block bottom %}{% end %}
</body>
</html>