{% extends "base.html" %}

{% block title %}{{ page_title or site_title }}{% end %}
{% block description %}{{ page_desc or site_desc }}{% end %}

{% block page_class %}{{ page_class }}{% end %}


{% block main %}
<!-- IndexArchive -->
<!-- 按日列出最新三篇文章列表（标题、日期、文章全部文本、精简标签显示） -->
{% if page == 'index' %}
<div class="posts">
    {% for post in posts %}
    <article class="post">
        <h1>{{ post.get('title') }}</h1>
        <header class="user">
            {% set user = post.get('user') %}
            <img src="{{ user.get('avatar_url') }}" alt="{{ user.get('login') }} avatar" width="40" height="40" loading="lazy">
            <div><a href="{{ post.get('source_url') }}">{{ user.get('login') }}</a></div>
            <small><time datetime="{{ post.get('created_at') }}">{{ post.get('created_at') }}</time></small>
        </header>
        {% raw post.get('body_html') %}
    </article>
    {% end %}
</div>
{% end %}
<!-- DailyArchive -->
<!-- 按日列出全部的文章列表（标题、日期、文章截断长文本、精简标签显示） -->
{% if page == 'daily' %}

{% end %}
<!-- MonthlyArchive -->
<!-- 按日列出对应月份的文章列表（标题、日期、文章截断短文本、精简标签显示） -->
{% if page == 'monthly' %}

{% end %}
<!-- YearlyArchive -->
<!-- 按月份列出对应年份的文章列表（标题、日期） -->
{% if page == 'yearly' %}
<ul>

</ul>
{% end %}
{% end %}

{% block side %}{% end %}