{% extends "base.html" %}

{% block title %}{{ page_title or site_title }}{% end %}
{% block description %}{{ post.get('summary') or page_desc or site_desc }}{% end %}
{% block head %}
<meta property="og:type" content="article">
<meta property="og:url" content="{{ base_url }}{{ post.get('permanent_url') }}">
<meta property="og:updated_time" content="{{ post.get('updated_at') }}">
{% if post.get('image') %}<meta property="og:image" content="{{ post.get('image') }}">{% end %}
<link rel="canonical" href="{{ base_url }}{{ post.get('permanent_url') }}">
{% end %}

{% block page_class %}{{ page_class }}{% end %}


{% block main %}
<article class="post">
    <h1>{{ post.get('title') }}</h1>
    <header class="user">
        {% set user = post.get('user') %}
        <img src="{{ user.get('avatar_url') }}" alt="{{ user.get('login') }} avatar" width="40" height="40" loading="lazy">
        <div><a href="{{ post.get('source_url') }}">{{ user.get('login') }}</a></div>
        <small><time datetime="{{ post.get('created_at') }}">{{ post.get('created_at') }}</time></small>
    </header>
    {% raw post.get('body_html') %}
    <footer>
        {% if post.get('labels') %}
        <section>
            <h5>Labels</h5>
            <ul class="menu">
                {% for label in post.get('labels') %}
                <li class="ball">{{ label.get('name') }}</li>
                {% end %}
            </ul>
        </section>
        {% end %}
        {% if any(post.get('reactions').values()) %}
        <section>
            <h5>Reactions</h5>
            <ul class="menu">
                {% for emoji, count in post.get('reactions').items() %}
                    {% if count %}<li class="ball">{{ github_reactions(emoji) }} +{{ count }}</li>{% end %}
                {% end %}
            </ul>
        </section>
        {% end %}
        {% if prev_post or next_post %}
        <section>
            <h5>Nav</h5>
            <nav>
                {% if next_post %}<p>Next Post: <a href="{{ next_post.get('permanent_url') }}">{{ next_post.get('title') }}</a></p>{% end %}
                {% if prev_post %}<p>Previous Post: <a href="{{ prev_post.get('permanent_url') }}">{{ prev_post.get('title') }}</a></p>{% end %}
            </nav>
        </section>
        {% end %}
        {% if related_posts %}
        <section>
            <h5>Related Posts</h5>
            <ul>
                {% for related_post in related_posts %}
                <li><a href="{{ related_post.get('permanent_url') }}">{{ related_post.get('title') }}</a></li>
                {% end %}
            </ul>
        </section>
        {% end %}
    </footer>
</article>
<div class="comments">
    <h5>Comments ({{ len(comments) }})</h5>
    <menu class="menu">
        <li class="item"><button id="new-comment">+ New Comment</button></li>
        {% if comments %}<li class="item"><button id="oldest-first">&lt; Oldest First</button></li>{% end %}
        {% if comments %}<li class="item"><button id="newest-first">Newest First &gt;</button></li>{% end %}
        <li class="item"><button id="new-reaction">+ New Reaction</button></li>
    </menu>
    {% for comment in comments %}
    <article class="comment" id="comment-{{ comment.get('id') }}">
        <header class="user">
            {% set user = comment.get('user') %}
            <img src="{{ user.get('avatar_url') }}" alt="{{ user.get('login') }} avatar" width="40" height="40" loading="lazy">
            <div><a href="{{comment.get('source_url') }}">{{ user.get('login') }}</a></div>
            <small><time datetime="{{ comment.get('created_at') }}">{{ comment.get('created_at') }}</time></small>
        </header>
        {% raw comment.get('body_html') %}
        {% if any(comment.get('reactions').values()) %}
        <footer>
            <ul class="menu">
                {% for emoji, count in comment.get('reactions').items() %}
                    {% if count %}<li class="ball">{{ github_reactions(emoji) }} +{{ count }}</li>{% end %}
                {% end %}
            </ul>
        </footer>
        {% end %}
    </article>
    {% end %}
</div>
{% end %}