{% extends "base.html" %}

{% block title %}{{ page_title or site_title }}{% end %}
{% block description %}{{ post.get('summary') or page_desc or site_desc }}{% end %}
{% block head %}
<meta property="og:type" content="article">
<meta property="og:url" content="{{ base_url }}{{ post.get('permanent_url') }}">
<meta property="og:updated_time" content="{{ post.get('updated_at') }}">
{% if post.get('image') %}<meta property="og:image" content="{{ post.get('image') }}">{% end %}
<link rel="canonical" href="{{ base_url }}{{ post.get('permanent_url') }}">
{% end %}

{% block page_class %}{{ page_class }}{% end %}


{% block main %}
<article class="post">
    <h1>{{ post.get('title') }}</h1>
    <header class="user">
        {% set user = post.get('user') %}
        <img src="{{ user.get('avatar_url') }}" alt="{{ user.get('login') }} avatar" width="40" height="40" loading="lazy">
        <div><a href="{{ post.get('source_url') }}">{{ user.get('login') }}</a></div>
        <small><time datetime="{{ post.get('created_at') }}">{{ post.get('created_at') }}</time></small>
    </header>
    {% raw post.get('body_html') %}
    <footer class="meta">
        <dl>
            {% if post.get('labels') %}
            <dt>{{ _('Labels') }}</dt>
            <dd>
                {% for label in post.get('labels') %}
                <span>{{ label.get('name') }}<small>+1 </small></span>
                {% end %}
            </dd>
            {% end %}
            {% if any(post.get('reactions').values()) %}
            <dt>{{ _('Reactions') }}</dt>
            <dd>
                {% for emoji, count in post.get('reactions').items() %}
                    {% if count %}<span>{{ github_reactions(emoji) }}<small>+{{ count }}</small></span>{% end %}
                {% end %}
            </dd>
            {% end %}
            {% if next_post %}
            <dt>{{ _('Next Post') }}</dt>
            <dd>
                <a href="{{ next_post.get('permanent_url') }}">{{ next_post.get('title') }}</a><br>
                <small>{{ next_post.get('summary') }}...</small>
            </dd>
            {% end %}
            {% if prev_post %}
            <dt>{{ _('Previous Post') }}</dt>
            <dd>
                <a href="{{ prev_post.get('permanent_url') }}">{{ prev_post.get('title') }}</a><br>
                <small>{{ prev_post.get('summary') }}...</small>
            </dd>
            {% end %}
            {% if related_posts %}
            <dt>{{ _('Related Posts') }}</dt>
            <dd>
                {% for related_post in related_posts %}
                <a href="{{ related_post.get('permanent_url') }}">{{ related_post.get('title') }}</a><br>
                <small>{{ related_post.get('summary') }}...</small>
                {% end %}
            </dd>
            {% end %}
        </dl>
    </footer>
</article>
<div class="comments">
    <h2>{{ _('Comments') }} ({{ len(comments) }})</h2>
    <menu>
        <button id="new-comment">+ {{ _('New Comment') }}</button>
        {% if comments %}<button id="oldest-first">&lt; {{ _('Oldest First') }}</button>{% end %}
        {% if comments %}<button id="newest-first">{{ _('Newest First') }} &gt;</button>{% end %}
        <button id="new-reaction">+ {{ _('New Reaction') }}</button>
    </menu>
    {% for comment in comments %}
    <article class="comment" id="comment-{{ comment.get('id') }}">
        <header class="user">
            {% set user = comment.get('user') %}
            <img src="{{ user.get('avatar_url') }}" alt="{{ user.get('login') }} avatar" width="40" height="40" loading="lazy">
            <div><a href="{{comment.get('source_url') }}">{{ user.get('login') }}</a></div>
            <small><time datetime="{{ comment.get('created_at') }}">{{ comment.get('created_at') }}</time></small>
        </header>
        {% raw comment.get('body_html') %}
        {% if any(comment.get('reactions').values()) %}
        <footer>
            {% for emoji, count in comment.get('reactions').items() %}
                {% if count %}<small>{{ github_reactions(emoji) }}+{{ count }}</small>{% end %}
            {% end %}
        </footer>
        {% end %}
    </article>
    {% end %}
</div>
{% end %}